body {
  margin: 0;
  font-family: "Roboto";
}

.mainPage {
  background-color: rgb(34, 34, 34);
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.mainPage h1 {
  color: white;
}

.mainPage span {
  color: rgba(57, 94, 170, 1);
}
